@charset "utf-8";

body {
  font-family:'Courier New', sans-serif;
  margin: 0;
}

p {
  margin: 0;
  background: #aaa;
  padding: 8px;
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 16px;
  background: #EBFEEB;
  padding: 8px;
}

pre {
  background: #eee;
  margin: 0 0 16px;
}